@import "tailwindcss";

@theme {
  --font-rubik: var(--font-rubik);
  --color-primary: #092c52;
  --color-secondary: #fcd973;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  color: white;
  padding-block: 12px;
  z-index: 99;
}

.header.active {
  position: fixed;
  animation: scrollTop .8s linear;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

@layer components {
  .btn {
    background-color: var(--color-secondary);
    padding: 13px 40px;
    border-radius: 100px;
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    transition: .3s;

    &:hover {
      background-color: #171717;
      color: white;
    }
  }

  .btn-fill-blue {
    background-color: var(--color-primary);
    color: white;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    width: 100%;
    text-align: center;

    &:hover {
      background-color: #0d3d70;
    }
  }

  .link {
    position: relative;
    text-transform: uppercase;
    transition: .3s;
  }

  .link::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
  }

  .link.active {
    color: var(--color-secondary);
  }

  .link:hover {
    color: var(--color-secondary);
  }

  .link.active::after {
    background-color: var(--color-secondary);
    scale: 1;
  }

  .section-desc {
    text-transform: uppercase;
  }

  .section-title {
    font-size: 30px;
    font-weight: 700;
  }
}

@layer utilities {
  .container {
    margin: 0 auto;
    padding-inline: 10px;

    @media(width < 576px) {
      max-width: 90%;
    }

    @media(width > 576px) {
      max-width: 540px;
    }

    @media(width > 768px) {
      max-width: 720px;
    }

    @media(width > 992px) {
      max-width: 960px;
    }

    @media(width > 1200px) {
      max-width: 1140px;
    }

    @media(width > 1400px) {
      max-width: 1320px;
    }
  }
}

body {
  font-family: var(--font-rubik);
}

.text-card {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  color: transparent;
}

@keyframes scrollTop {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}